.page-nav {
    margin-top: 158px !important; 
    background-size: 100% !important;
    padding: 68px !important;
    text-align: center !important;
    background-color: #eaeaea !important;
}
@media (max-width: 1024px) {
    .page-nav {
        margin-top: 272px !important;
    }
}

@media (max-width: 768px) {
    .page-nav {
        margin-top: 50px !important;
    }
}